.header {
	height: calc(100vh - 5.4rem);
	max-height: 100rem;
	margin: 0;
	h1 {
		font-weight: 700;
		color: $black;
		text-shadow: $white 0.2rem 0.2rem 0.2rem;
		font-size: 2.5rem;
	}
}

@media screen and (min-width: 576px) {
	.header {
		h1 {
			font-size: 7.5rem;
		}
	}
}
