.header {
	height: 500px;
	margin: 0;
	h1 {
		font-weight: 700;
		color: $black;
		text-shadow: $white 0.2rem 0.2rem 0.2rem;
	}
}

@media screen and (max-width: 425px) {
	.header {
		height: 500px;
		h1 {
			font-weight: 700;
			font-size: 2.5rem;
		}
	}
}
